/* estilos gerais */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #e6ecf0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input,
button {
  outline: 0;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

/* estilos header */
header#main-header {
  height: 46px;
  background-color: #fff;
}

header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header#main-header nav ul {
  display: flex;
}

header#main-header nav ul li {
  font-size: 13px;
  color: #667580;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 10px;
}

header#main-header nav ul li img {
  margin-right: 7px;
}

#header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-right input {
  background-color: #f5f8fa;
  border: 1px solid #e6ecf0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  font-size: 12px;
  color: #667581;
  background: url('./images/search.svg') no-repeat 190px;
  width: 220px;
}

#header-right img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 15px;
}

#header-right button {
  background-color: #3bb9e3;
  border-color: transparent;
  border-radius: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 90px;
  font-size: 14px;
}

/* estilos banner */
.banner {
  height: 380px;
  width: 100%;
  background-color: #3bb9e3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}

